<div class="login-content" id="your-subletter-profile">
	<div class="profile-title">Your Profile</div>
	<div class="profile-row">
		<div class="profile-column">
			<div><b>Name</b> <div> : <%= @subletter.name if @subletter.name %></div> </div>
			<div><b>Email:</b> <div> : <%= @subletter.email if @subletter.email %></div></div>
			<div><b>Start Date</b> <div> : <%= @subletter.startDate if @subletter.startDate %> </div> </div>
			<div><b>End Date:</b> <div> : <%= @subletter.endDate if @subletter.endDate %> </div> </div>
		</div>
		<div class ="profile-column">
			<div><b>Profile Picture: </b>
				<%= link_to(image_tag(@subletter.avatar.medium.url), @subletter.avatar.url, target: '_blank') if @subletter.avatar? %>
			</div>
		</div>
	</div>
</div>
