<h1 class="listing_title"> Listings: </h1>
<div class="all_listings">
  <% @listings.each do |listing| %>
    <div class="listing_container">
      <h1> <%= listing.open_spots%> Bedroom, $<%= listing.price %>, <%= listing.city%> </h1>
      <h5> Price: $ <%= listing.price %> </h5>
      <h5> Author: <%= listing.author %> </h5>
      <h5> Start Date: <%= listing.start_date %> </h5>
      <h5> End Date: <%= listing.end_date %> </h5>
      <h5> Rating: <%= listing.rating %> </h5>
      <div class="listing-thumb">
      <%= link_to image_tag(listing.image_url(:thumb)), listing %>
      </div>
      <td><%= link_to 'Show', listing %></td>
      <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
      <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </div>
  <% end %>
</div>

<%= link_to 'New Listing', new_listing_path %>
