<p id="notice"><%= notice %></p>

<p>
  <strong>Author:</strong>
  <%= @listing.author %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Open spots:</strong>
  <%= @listing.open_spots %>
</p>

<p>
  <strong>Street:</strong>
  <%= @listing.street %>
</p>

<p>
  <strong>City:</strong>
  <%= @listing.city %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @listing.distance %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @listing.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @listing.end_date %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @listing.rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>


<div>
  <%= image_tag(@listing.image_url(:thumb), :style => "float :left; border 1px solid #00000;") %>
</div>

<div style="clear: both">
<p>
  <%= link_to 'Edit', edit_listing_path(@listing) %> |
  <%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back', listings_path %>
</p>
