<div class="app_container">
  <h1 class="app_title"> Welcome to CalHousing</h1>
  <div class="app_content"
      <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p>

      <%= form_tag("/browse", method: "get") do %>
        <%= label_tag(:address, "Search for:") %>
        <%= text_field_tag(:address) %>
        <%= submit_tag("Search") %>
      <% end %>
  </div>
</div>
