<div class="app_container">
  <header class="masthead">
    <div class="container">
      <div class = "bg"> </div>
      <div class="intro-text">
        <div id="housing" class="intro-lead-in">Housing at Cal</div>
        <div class="intro-heading text-uppercase">subleasing made easy.</div>
        <!-- <p><%= link_to 'Users:', users_path %> <%= User.count %> registered</p> -->

        <%= form_tag("/browse", method: "get") do %>
        <%= label_tag(:address, "Search for Housing:") %>
        <%= text_field_tag(:address, '', size: 50, placeholder: 'housing near this address...') %>
        <%= submit_tag("Search", class: 'address-button') %>
        <% end %>

      </br> </br>

      <%= form_tag("/browse/subletters", method: "get") do %>
      <%= label_tag(:startDate, "Search for Subletters:") %>
      <%= text_field_tag :search, @search_term, size: 50, placeholder: 'subletters who fit your start lease date...' %>
      <%= submit_tag("Search", class: 'address-button') %>
      <% end %>

    </div>

  </div>
</header>
</div>
