<% if user_signed_in? %>
  <li><%= link_to 'Your Profile', user_show_path(current_user.id) %></li>
  <li><%= link_to 'Edit account', edit_user_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>

<% elsif subletter_signed_in? %>
  <li><%= link_to 'Your Profile', subletter_show_path(current_subletter.id) %></li>
  <li><%= link_to 'Edit account', edit_subletter_registration_path %></li>
  <li><%= link_to 'Sign out', destroy_subletter_session_path, :method=>'delete' %></li>

<% else %>
  <li><%= link_to 'Leaser sign in', new_user_session_path %></li>
  <li><%= link_to 'Subletter sign in', new_subletter_session_path %></li>
  <li><a href="/app/views/signup/index.html">Sign Up</a></li>
<% end %>
<!--
<% if user_signed_in? %>
  <li><%= link_to 'Users', users_path %></li>
<% end %>

<% if subletter_signed_in? %>
  <li><%= link_to 'Subletters', subletters_path %></li>
<% end %>
-->